.signup-page {
    background-color: #181818;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .signup-form {
    background-color: #333333;
    padding: 40px;
    border-radius: 10px;
    text-align: center;
  }
  
  h2 {
    color: #fff;
    margin-bottom: 30px;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    text-align: left;
  }
  
  label {
    color: #fff;
    margin-bottom: 5px;
  }
  
  input {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #1a1a1a;
    color: #fff;
    font-size: 16px;
    width: 300px;
  }
  
  .sign-btn {
    padding: 10px 30px;
    border-radius: 5px;
    border: none;
    background-color: #2ecc71;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 300px;
  }
  
  button:hover {
    background-color: #27ae60;
  }
  
  .login-link {
    margin-top: 20px;
    color: #fff;
    font-size: 14px;
  }
  
  .login-link a {
    color: #2ecc71;
    text-decoration: none;
  }
  
  .login-link a:hover {
    text-decoration: underline;
  }
  